<!doctype html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div layout:fragment="content">
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Brick name</th>
        <th scope="col">Brick photo</th>
        <th scope="col">Brick description</th>
        <th scope="col">Brick quantity</th>
        <th scope="col">Created date</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="brick: ${bricks}">
        <td th:text="${brick.id}" />
        <td th:text="${brick.name}" />
        <td><img th:src="@{${'/brick/display/' + brick.id}}"
                 class="rounded mx-auto d-block" style="width:300px" alt=""/></td>
        <td th:text="${brick.description}" />
        <td th:text="${brick.quantity}" />
        <td th:text="${#dates.format({brick.createDate}, 'dd-MM-yyyy')}"/></td>
        <td><a th:href="@{/brick/brickDetails(id=${brick.id})}" class="btn btn-primary" target="_blank">View</a></td>
    </tr>
    </tbody>
</table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>