<!doctype html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div layout:fragment="content">
    <div class="contact py-sm-5 py-4">
        <div class="container py-xl-4 py-lg-2">
            <h1 class="display-3">Brick name: <span th:text="${name}"></span></h1>
            <img th:src="@{${'/brick/display/'+id}}" class="img-responsive center-block" alt="">
            <p class="lead">Brick description: <span th:text="${description}"></span></p>
            <p class="lead">Brick quantity: <span th:text="${quantity}"></span></p>
            <a class="btn btn-primary" href="/bricks" role="button">Go back</a>
            <a class="btn btn-primary" href="/" role="button">Go home</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>